<style>
    #available_c {
      margin-bottom: 22px;
      padding: 0;
    }
    #available_columns_search::placeholder {
      color: var(--text-color);
    }
    #available_c{
      border-top: 0;
      width: 100%;
    }
    body #wrapper #available_columns_search {
      border: 1px solid #ccc;
      margin: 0;
    }
  </style>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var searchHTML = '<span style="display: flex;">' +
                          '<input type="text" id="available_columns_search" placeholder="<%= I18n.t('search_placeholder') %>" style="width: 100%; color: var(--color-text)" />' +
                         '</span>';

        $('#available_c').before(searchHTML);

        $('#available_columns_search').on('input', function() {
          var searchValue = $(this).val().toLowerCase();
          
          $('#available_c option').each(function() {
            var text = $(this).text().toLowerCase();
            $(this).toggle(text.includes(searchValue));
          });
        });

        $('.query-columns').closest('form').submit(function(){
          $('#selected_columns option:not(:disabled)').prop('selected', true);
        });
      });
    <% end %>